<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <statusListener class="ch.qos.logback.core.status.NopStatusListener" />

    <property name="LOG_HOME" value="log" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n
            </Pattern>
        </layout>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>

    <logger name="com.zolotarev.account" level="DEBUG" />
    <logger name="org.springframework.web" level="DEBUG" />
    <logger name="org.springframework.orm" level="DEBUG" />
    <logger name="org.springframework.orm.jpa" level="DEBUG" />
    <logger name="org.springframework.transaction" level="DEBUG" />
    <logger name="org.springframework.aop" level="DEBUG" />
    <logger name="org.springframework.cache" level="TRACE" />

</configuration>